<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="bigPad">We ran into a problem sending to that email.<br> Check your spelling and try again.</h1>
            <h2>You will be redirected to the homepage in <span id="countdown">11</span></h2>
        </div>
    </div>
</div>
@Html.ActionLink(" ", "Index", "Home", null, new { display = "none", @class = "className" })


@section scripts{
    <script>

        var seconds = 11;

        function countdown() {
            seconds = seconds - 1;
            if (seconds < 0) {
                jQuery(function () {
                    window.location.href = jQuery('.className').attr('href');
                });
            } else {
                document.getElementById("countdown").innerHTML = seconds;
                window.setTimeout("countdown()", 1000);
            }
        }

        countdown();
    </script>
}