@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout= null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Financial Portal</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />


</head>

<body>
    <style>
        .j {
            margin-top: 4rem
        }
    </style>
    <div class="row">
        <div class="col text-center">
            <h1 class="j">
                Please check your email for a link to reset your password
            </h1>
            <h2 class="j">
                You will be redirected to the <a href="@Url.Action("Login","Account")">Login Page</a> in <span id="countdown">10</span>
            </h2>
        </div>
    </div>
    @Html.ActionLink(" ", "Index", "Home", null, new { display = "none", @class = "className" })
    <script src="~/Scripts/jquery.js"></script>
    <script>

        var seconds = 11;

        function countdown() {
            seconds = seconds - 1;
            if (seconds < 0) {
                jQuery(function () {
                    window.location.href = jQuery('.className').attr('href');
                });
            } else {
                document.getElementById("countdown").innerHTML = seconds;
                window.setTimeout("countdown()", 1000);
            }
        }

        countdown();
    </script>
</body>
</html>

