
<div class="row" style="padding-top:5rem">
    <div class="col text-center">
        <h1>Your invitation email has been sent</h1>
        <h2>You will be redirected to the homepage in <span id="countdown"></span></h2>
    </div>
</div>

